{% extends "base.html" %}
{% block content %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-card uk-card-body uk-width-3-4">
        <form class="uk-form-stacked" method="post" action="/">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend uk-text-center">项目上传</legend>
                <div class="uk-margin">
                    <label class="uk-form-label" for="name-input">项目名称</label>
                    <div class="uk-form-controls uk-width-1-4">
                        <input class="uk-input" id="name-input" type="text" name="name">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="version-input">项目版本</label>
                    <div class="uk-form-controls uk-width-1-4">
                        <input class="uk-input" id="version-input" type="text" name="version">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="file-input">上传源代码压缩包</label>
                    <div class="uk-form-custom uk-width-1-4">
                        <input id="file-input" name="zip" type="file" accept=".zip">
                        <input class="uk-input" type="text" placeholder="Select zip file" disabled>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label uk-width-1-6" for="jar-input">上传Jar包</label>
                    <div class="uk-form-custom uk-width-1-4">
                        <input id="jar-input" name="jar" type="file" accept=".jar">
                        <input class="uk-input" type="text" placeholder="Select jar file" disabled>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label uk-width-1-6" for="description-input">项目描述</label>
                    <div class="uk-form-controls uk-width-1-2">
                        <textarea class="uk-textarea" id="description-input" name="description" rows="4" placeholder="可不填"></textarea>
                    </div>
                </div>
                <div class="uk-margin">
                    <input class="uk-button uk-width-1-6 uk-button-primary" type="submit" value="上传">
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}