{% extends "base.html" %}
{% block content %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-card uk-card-body uk-width-3-4">
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>项目名称</th>
                <th>项目版本</th>
                <th>上传时间</th>
                <th>项目描述</th>
                <th>当前状态</th>
                <th>已发现漏洞</th>
            </tr>
            </thead>
            <tbody>
            {% for p in project_list %}
            <tr>
                <td>{{p.name}}</td>
                <td>{{p.version}}</td>
                <td>{{p.upload_time}}</td>
                <td>{{p.description}}</td>

                {% if p.state == 0 %}
                <td>检测中</td>
                {% elif p.state == 1 %}
                <td>审核中</td>
                {% elif p.state == 2 %}
                <td>审核完成</td>
                {% else %}
                <td>未知</td>
                {% endif %}
                {% if p.state == 2 %}
                <td>{{p.alarm_num}}</td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}