{% extends "base.html" %}
{% block content %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-card uk-card-body uk-width-3-4">
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>项目名称</th>
                <th>项目版本</th>
                <th>上传时间</th>
                <th>项目描述</th>
                <th>当前状态</th>
                <th>已发现漏洞</th>
            </tr>
            </thead>
            <tbody>
            {% for p in project_list %}
            <tr>
                <td>{{p.name}}</td>
                <td>{{p.version}}</td>
                <td>{{p.upload_time}}</td>
                <td>{{p.description}}</td>
                <td>{{p.state}}</td>
                <td>{{p.alarm_num}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}