{% extends "base.html" %}
{% block content %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-card uk-card-body uk-width-3-4">
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>项目名称</th>
                <th>项目版本</th>
                <th>上传时间</th>
                <th>项目描述</th>
                <th>当前状态</th>
                <th>已发现漏洞</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>FuckThesis</td>
                <td>0.0.0</td>
                <td>1970-01-01 00:00:00</td>
                <td>Just for Test</td>
                <td>检测中</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}