{% extends "base.html" %}
{% block content %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-card uk-card-body uk-width-3-4">
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>项目名称</th>
                <th>项目版本</th>
                <th>类名</th>
                <th>方法名</th>
                <th>代码行</th>
                <th>发布时间</th>
                <th>审核时间</th>
                <th>标记结果</th>
            </tr>
            </thead>
            <tbody>
            {% for alarm in alarm_list %}
            <tr>
                <td>{{alarm.name}}</td>
                <td>{{alarm.version}}</td>
                <td>{{alarm.classname}}</td>
                <td>{{alarm.method}}</td>
                <td>{{alarm.location}}</td>
                <td>{{alarm.create_time}}</td>
                <td>{{alarm.label_time}}</td>
                {% if alarm.label == 1 %}
                    <td>正报</td>
                {% elif alarm.label == 0 %}
                    <td>误报</td>
                {% else %}
                    <td>未知</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="uk-pagination uk-flex-right" uk-margin>
            {% if page_config.is_pre %}
            <li>
                {% else %}
            <li class="uk-disabled">
                {% endif %}
                <a href="{{'/history?page=' ~ (page_config.active - 1)}}">
                    <span uk-pagination-previous></span>
                </a>
            </li>
            <li><a href="/history?page=1">1</a></li>

            {% if page_config.is_pre_symbol %}
            <li class="uk-disabled"><span>...</span></li>
            {% endif %}

            {% for i in range(page_config.middle_start, page_config.middle_end + 1) %}
            {% if i == page_config.active %}
            <li class="uk-active">
                {% else %}
            <li>
                {% endif %}
                <a href="{{'/history?page=' ~ i}}">
                    <span>{{i}}</span>
                </a>
            </li>
            {% endfor %}

            {% if page_config.is_next_symbol %}
            <li class="uk-disabled"><span>...</span></li>
            {% endif %}

            {% if page_config.sum > 1 %}
            <li><a href="{{'/history?page=' ~ page_config.sum}}">
                {{page_config.sum}}</a>
            </li>
            {% endif %}

            {% if page_config.is_next %}
            <li>
                {% else %}
            <li class="uk-disabled">
                {% endif %}
                <a href="{{'/history?page=' ~ (page_config.active + 1)}}">
                    <span uk-pagination-next></span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}