{% extends "base.html" %}
{% block content %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-card uk-card-body uk-width-3-4">
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>项目名称</th>
                <th>项目版本</th>
                <th>类名</th>
                <th>方法名</th>
                <th>代码行</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for alarm in alarm_list %}
            <tr>
                <td>{{alarm.name}}</td>
                <td>{{alarm.version}}</td>
                <td>{{alarm.classname}}</td>
                <td>{{alarm.method}}</td>
                <td>{{alarm.location}}</td>
                <td>{{alarm.create_time}}</td>
                <td style="padding: 12px">
                    <a href="/detail/{{alarm.id}}">
                        <button class="uk-button uk-button-default uk-button-small">查看详情</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}